parameters:
    level: 7
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    ignoreErrors:
        -
            message: '#.*no value type specified in iterable type array\.$#'
            path: src/Mailer.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
